
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post" action="KategoriEkle">
    <div></div>
    <div style="margin-top:15px">
        <label>Kategori Ad: </label>
        <input class="form-control" type="text" name="Ad" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>

