@model List<KutuphaneProject.Models.Entity.TBLMESAJ>

@{
    ViewBag.Title = "GidenMesajlar";
    Layout = "~/Views/Shared/_OgrenciLayout.cshtml";
}

<h2>Giden Mesajlar Sayfası</h2>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Alıcı</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Alici</td>
                <td>@item.Konu</td>
                <td>@item.Detay</td>
                <td>@item.Tarih</td>
            </tr>
        }
    </tbody>
</table>

