@model List<KutuphaneProject.Models.Entity.TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Duyurular</h2>
<br />

<table class="table table-bordered">
    <tr>
        <th>No</th>
        <th>Kategori</th>
        <th>Içerik</th>
        <th>Tarih</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Kategori</td>
            <td>@item.Icerik</td>
            <td>@Convert.ToDateTime(item.Tarih).ToString("dd/MM/yyyy")</td>
            <td>
                <a href="/Duyuru/DuyuruGetir/@item.Id" class="btn btn-warning">Güncelle</a>
            </td>
            <td>
                <a href="/Duyuru/DuyuruSil/@item.Id" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>

<a href="/Duyuru/DuyuruEkle" class="btn btn-primary">Duyuru Ekle</a>


